.body{
  margin:0px;
  padding:0px;
}
.parent{
  height:100vh;
  width: 100vw;
  margin-top: -20px;
  background-color: rgb(204, 156, 249);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  border:1px solid #ccc;
  border-radius: 10px;
  width:25vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 8px #8888;
}
.container input{
  border-radius: 5px;
  border-color: 0px solid #ccc;
  height: 20px;
  margin: 10px;
}
.homeconatiner{
  display: grid;
  grid-template-rows: 20vh 80vh;
}
.header{
  border:2px solid rgb(181,230,29);
  padding:30px;
  text-align: end;
}
.bottom{
  display: grid;
  grid-template-columns: 20vw 80vw;
}
.nav{
  background-color:rgb(181,230,29) ;
}
.add{
  margin-top: 10px;
  display: grid;
  grid-template-columns:5fr 1fr ;
}

table, th, td {
  border: 1px solid;
  margin: 20px auto;
}
td {
  text-align: center;
}